

#background{
    background-image:url('./Images/website-background.png'); 
    width: 100vw;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clip{
    clip: rect(0px,60px,200px,0px);
}